@import "/node_modules/modern-normalize/modern-normalize.css";

img {
  display: block;
  width: 100%;
}

body {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #01042d;
  color: #fcf7f3;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 536px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: 3px solid #00ccff;
  background: #060c0f;
}

header {
  max-width: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 52px;

  img {
    width: 142px;
    height: 142px;
    border-radius: 100%;

    display: flex;
    align-items: center;
  }

  h1 {
    font-family: "Bangers", system-ui;
    font-size: 32px;
    font-weight: 400;
    margin: 10px 0;

    color: #fff;
  }

  p {
    width: 100%;
    max-width: 342px;
    text-align: center;
    color: #828899;
    margin: 10px 0 66px 0;
  }
}

.section-links {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 66px;
    .link {
      a {
        display: flex;
        width: 373px;
        height: 74px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 8px;
        border-right: 5px solid #0098be;
        border-bottom: 5px solid #0098be;

        background: #7fe5ff;

        color: #fff;
        font-size: 24px;
        font-weight: 400;

        text-decoration: none;

        transition: 0.3s;
        &:hover {
          background-color: #00ccff;
        }
      }
      span {
        font-size: 24px;
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  ul {
    max-width: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    li {
      list-style: none;
      img {
        width: 36px;
        height: 36px;
      }
      &:not(:last-child) {
        margin-right: 59px;
      }
    }
  }
}
